<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
  <div class="span8">
    <div class="hero-unit">
      <h2>Align. Focus. Excel.</h2>
      <p>Align employee goals with corporate strategy. With OnTarget it is simple and quick to drive employee efficiency, encourage ownership and focus on excellence.</p>
      <p><a href="/accounts/new", class="btn btn-primary btn-large">Get started today with a 45-days free trial &raquo;</a></p>
    </div>
  </div>
  <div class="span4">
    <ul class="thumbnails">
      <li class="span4">
        <a href="#" class="thumbnail">
          <img src="/assets/target" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h3>Goals</h3>
    <ul>
      <li>Do more with existing resources.</li>
      <li>Develop and distribute goals quickly and easily.</li>
      <li>Keep goals on track.</li>
      <li>Adapt successfully to changing priorities.</li>
      <li>Increase cooperation.</li>
      <li>Strengthen accountability.</li>
      <li>Boost employee engagement.</li>
    </ul>
  </div>
  <div class="span4">
    <h3>Performance Review</h3>
    <ul>
      <li>Increase engagement.</li>
      <li>Build detailed individual profiles.</li>
      <li>Boost review quality and free up management time.</li>
      <li>Rate team performance.</li>
      <li>Offer development plans.</li>
      <li>Streamline your workflow.</li>
      <li>Reduce your risk.</li>
    </ul>
  </div>
  <div class="span4">
    <h3>360 Reviews</h3>
    <ul>
      <li>Identify better development paths.</li>
      <li>Involve every stakeholder.</li>
      <li>Recognize gaps in skills and competencies.</li>
      <li>Save time.</li>
      <li>Write better reviews.</li>
      <li>Reduce risk and save HR review time.</li>
    </ul>
  </div>
</div>
