<table class="table3 center-table">
  <thead>
      <th scope="col" abbr="Starter">Smart Starter</th>
      <th scope="col" abbr="Medium">Smart Medium</th>
  </thead>
  <tfoot>
      <td>$ 2.90</td>
      <td>$ 5.90</td>
  </tfoot>
  <tbody>
    <tr>
      <td>512 MB</td>
      <td>1 GB</td>
    </tr>
    <tr>
      <td>50 GB</td>
      <td>100 GB</td>
    </tr>
    <tr>
      <td>Unlimited</td>
      <td>Unlimited</td>
    </tr>
    <tr>
      <td>19.90 $</td>
      <td>12.90 $</td>
    </tr>
    <tr>
      <td><span class="check"></span></td>
      <td><span class="check"></span></td>
    </tr>
    <tr>
      <td><span class="check"></span></td>
      <td><span class="check"></span></td>
    </tr>
  </tbody>
</table>

</div>
