<h2>Admin Dashboard</h2>

<div class="row">
	<%= render 'dashboards/admin_widget1' %>
</div> <!-- /row -->

<div class="row">
  <div class="span6">
	  <%= render 'dashboards/admin_widget2' %>
	</div>
  	
  <div class="span6"> 		
    <%= render 'dashboards/admin_widget3' %>
  </div> <!-- /span6 -->
</div> <!-- /row -->
