<h2>Next step</h2><br>

<div class="row">
  <div class="span8">
    <p>Please create a review period.</p>
    <%= link_to "Create Period", new_user_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div class="wizard-steps">
  <div class="completed-step"><a href="#step-one"><span>1</span> Account Info</a></div>
  <div class="active-step"><a href="#step-two"><span>2</span> Contact Info</a></div>
  <div><a href="#"><span>3</span> Security Question</a></div>
  <div><a href="#"><span>4</span> Confirmation</a></div>
</div>
