<div class="row">
  <div class="span12">
    <% if user_signed_in? %>
      <% if current_user.role == "admin" %>
        <%= render 'dashboards/admin_dashboard' %>
      <% else %>
        <%= render 'dashboards/user_dashboard' %>
      <% end %>
    <% end %>
  </div>
</div>
