
/* Table 1 Style */
table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.table1 tbody span.check::before{
    content : url(/assets/check0.png)
}
/* Table 2 Style */
table.table2{
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse:collapse;
    text-align:center;
}
.table2 thead th, .table2 tfoot td{
    padding:20px 10px 40px 10px;
    color:#fff;
    font-size: 26px;
    background-color:#222;
    font-weight:normal;
    border-right:1px dotted #666;
    border-top:3px solid #666;
    -moz-box-shadow:0px -1px 4px #000;
    -webkit-box-shadow:0px -1px 4px #000;
    box-shadow:0px -1px 4px #000;
    text-shadow:1px 1px 1px #000;
}
.table2 tfoot th{
    padding:10px;
    font-size:18px;
    text-transform:uppercase;
    color:#888;
}
.table2 tfoot td{
    font-size:36px;
    color:#EF870E;
    border-top:none;
    border-bottom:3px solid #666;
    -moz-box-shadow:0px 1px 4px #000;
    -webkit-box-shadow:0px 1px 4px #000;
    box-shadow:0px 1px 4px #000;
}
.table2 thead th:empty{
    background:transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.table2 thead :nth-last-child(1){
    border-right:none;
}
.table2 thead :first-child,
.table2 tbody :nth-last-child(1){
    border:none;
}
.table2 tbody th{
    text-align:right;
    padding:10px;
    color:#333;
    text-shadow:1px 1px 1px #ccc;
    background-color:#f9f9f9;
}
.table2 tbody td{
    padding:10px;
    background-color:#f0f0f0;
    border-right:1px dotted #999;
    text-shadow:-1px 1px 1px #fff;
    text-transform:uppercase;
    color:#333;
}
.table2 tbody span.check::before{
    content : url(/assets/check1.png)
}

/* Table 3 Style */
table.table3{
    font-family:Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align:center;
    border-collapse:collapse;
}
.table3 thead th{
    padding:6px 10px;
    text-transform:uppercase;
    color:#444;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    border-bottom:5px solid #444;
}
.table3 thead th:empty{
    background:transparent;
    border:none;
}
.table3 thead :nth-child(2),
.table3 tfoot :nth-child(2){
    background-color: #7FD2FF;
}
.table3 tfoot :nth-child(2){
    -moz-border-radius:0px 0px 0px 5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
}
.table3 thead :nth-child(2){
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
.table3 thead :nth-child(3),
.table3 tfoot :nth-child(3){
    background-color: #45A8DF;
}
.table3 thead :nth-child(4),
.table3 tfoot :nth-child(4){
    background-color: #2388BF;
}
.table3 thead :nth-child(5),
.table3 tfoot :nth-child(5){
    background-color: #096A9F;
}
.table3 thead :nth-child(5){
    -moz-border-radius:0px 5px 0px 0px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
}
.table3 tfoot :nth-child(5){
    -moz-border-radius:0px 0px 5px 0px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.table3 tfoot td{
    font-size:38px;
    font-weight:bold;
    padding:15px 0px;
    text-shadow:1px 1px 1px #fff;
}
.table3 tbody td{
    padding:10px;
}
.table3 tbody tr:nth-child(4) td{
    font-size:26px;
    font-weight:bold;
}
.table3 tbody td:nth-child(even){
    background-color:#444;
    color:#444;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(189,189,189)),
        color-stop(0.7, rgb(224,224,224))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;
}
.table3 tbody td:nth-child(odd){
    background-color:#555;
    color:#f0f0f0;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(85,85,85)),
        color-stop(0.7, rgb(105,105,105))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(85,85,85) 39%,
        rgb(105,105,105) 70%
        );
    text-shadow:1px 1px 1px #000;
}
.table3 tbody td:nth-last-child(1){
    border-right:1px solid #222;
}
.table3 tbody th{
    color:#696969;
    text-align:right;
    padding:0px 10px;
    border-right:1px solid #aaa;
}
.table3 tbody span.check::before{
    content : url(/assets/check2.png)
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}





/*------------------------------------------------------------------

[Pricing Plans Stylesheet]

	Project:		Base Admin
	Version:		1.0
	Last change:	05/21/2012
	Assigned to:	Rod Howard (rh)
	

-------------------------------------------------------------------*/


/*-- Plan Container --*/

.plan-container {
    position: relative;
    float: left;    
}

/*-- Plan --*/

.plan {
    margin-right: 6px;
    
    border-radius: 4px;
}


/*-- Plan Header --*/

.plan-header {
    text-align: center;
    color: #FFF;
    
    background-color: #686868;
    
    -webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.plan-title {
    padding: 10px 0;
    
	font-size: 16px;
    color: #FFF;

	border-bottom: 1px solid #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    
    border-radius: 4px 4px 0 0;
}

.plan-price {
	padding: 20px 0 10px;
	
    font-size: 66px;
    line-height: 0.8em;
    
	background-color: #797979;
	
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.plan-price span.term {
    display: block;
    margin-bottom: 0;
    
    font-size: 13px;
    line-height: 0;
    padding: 2em 0 1em;
}

.plan-price span.note {
	position: relative;
	top: -40px;
	
	display: inline;
	
    font-size: 17px;
    line-height: 0.8em;
}



/*-- Plan Features --*/

.plan-features {
	border: 1px solid #DDD;	
	border-bottom: none;
}

.plan-features {
	padding-bottom: 1em;
}

.plan-features ul {
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.plan-features li {	
	padding: 1em 0;
	margin: 0 2em;
	
	text-align: center;
	
	border-bottom: 1px dotted #CCC;
}

.plan-features li:last-child {
	border-bottom: none;
}


/*-- Plan Actions --*/

.plan-actions {
	padding: 1.15em 0;
	
	background: #F2F2F2;
	
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -ms-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: -o-linear-gradient(top, #F8F8F8, #E6E6E6);
	background-image: linear-gradient(top, #F8F8F8, #E6E6E6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	
	border: 1px solid #DDD;
	
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.plan-actions .btn {
	padding: 1em 0;
	margin: 0 2em;
	
	display: block;
	
	font-size: 16px;
	font-weight: 600;
}



/*-- Columns --*/

.pricing-plans.plans-1 .plan-container {
    width: 100%;
}
.pricing-plans.plans-2 .plan-container {
    width: 50%;
}

.pricing-plans.plans-3 .plan-container {
    width: 33.33%;
}

.pricing-plans.plans-4 .plan-container {
    width: 25%;
}








/*-- Best Value Highlight --*/

.plan.best-value .plan-header {
	background-color: #677E30;
}

.plan.best-value .plan-price {
	background-color: #81994D;
}







.plan.skyblue .plan-header {
	background-color: #3D7AB8;
}

.plan.skyblue .plan-price {
	background-color: #69C;
}



.plan.lavendar .plan-header {
	background-color: #754F75;
}

.plan.lavendar .plan-price {
	background-color: #969;
}



.plan.teal .plan-header {
	background-color: #257272;
}

.plan.teal .plan-price {
	background-color: #399;
}




.plan.pink .plan-header {
	background-color: #FF3778;
}

.plan.pink .plan-price {
	background-color: #F69;
}







.plan.black .plan-header {
	background-color: #222;
}

.plan.black .plan-price {
	background-color: #333;
}





.plan.yellow .plan-header {
	background-color: #C69E00;
}

.plan.yellow .plan-price {
	background-color: #E8B900;
}



.plan.purple .plan-header {
	background-color: #4E2675;
}

.plan.purple .plan-price {
	background-color: #639;
}





.plan.red .plan-header {
	background-color: #A40000;
}

.plan.red .plan-price {
	background-color: #C00;
}



.plan.orange .plan-header {
	background-color: #D98200;
}

.plan.orange .plan-price {
	background-color: #F90;
}



.plan.blue .plan-header {
	background-color: #0052A4;
}

.plan.blue .plan-price {
	background-color: #06C;
}




/*-- Green Plan --*/

.plan.green .plan-header {
	background-color: #677E30;
}

.plan.green .plan-price {
	background-color: #81994D;
}





/*------------------------------------------------------------------
[2. Min Width: 767px / Max Width: 979px]
*/

@media (min-width: 767px) and (max-width: 979px) {
	
	.pricing-plans .plan-container {
	    width: 50% !important;
	    margin-bottom: 2em;
	}	
	
}



@media (max-width: 767px) {
	
	.pricing-plans .plan-container {
	    width: 100% !important;
	    margin-bottom: 2em;
	}

}
